<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cockteles</title>
  <!-- Enlace al archivo CSS externo -->
  <link rel="stylesheet" href="../styles/stylesCocteles.css">
</head>
<body>
  <h1>cocteles</h1>
  <div id="output"></div>
  
  <!-- Enlace al archivo JavaScript externo -->
  <script src="../scripts/scriptCocteles.js"></script>
</body>
</html>
