<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Consumiendo la PokeAPI</title>
  <link rel="stylesheet" href="../styles/stylesPoke.css">
</head>
<body>
  <h1>Consumiendo la PokeAPI</h1>
  <div>
    <label for="pokemonName">Nombre del Pokémon: </label>
    <input type="text" id="pokemonName" placeholder="e.g. pikachu">
    <button onclick="fetchPokemon()">Buscar</button>
  </div>
  <div id="output"></div>
  <script src="../scripts/scriptPoke.js"></script>
</body>
</html>
